<div class="inventory">
  <div class="header">
    <div class="heading">
      <h1>Inventories</h1>
    </div>
    <div class="add_button">
      <button
        class="add-button"
        role="button"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        data-bs-whatever="@mdo"
      >
        Add Inventory
      </button>
    </div>
  </div>

  <div class="card mt-2 p-5" *ngIf="inventories.length < 1">
    <h2 class="text-center">No Products Available</h2>
  </div>
  <div class="inventory_table" *ngIf="inventories.length > 0">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by id"
        >
          Id
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by category"
        >
          Category
        </th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by stock"
        >
          Stock
        </th>
        <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by price"
        >
          Price
        </th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by edit"
        >
          Edit
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example edit icon"
              fontIcon="edit"
            ></mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by delete"
        >
          Delete
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example delete icon"
              fontIcon="delete"
            ></mat-icon>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<app-manage-inventory
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
></app-manage-inventory>
